<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header'%>
		<div class="row main">
			<div class="col-xs-3">
				<h2> User info</h2>
			</div>
			<div class="col-xs-9">
				<h2> Books</h2>
			</div>
		</div>
	</div>
</body>
</html>