<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
</head>
<body>
	<%= render 'layouts/header'%>
	<div class="container">
		<div class="main col-xs-8 col-xs-offset-2">
			<h1>welcome to <span class="fa fa-book">Bookers!</span></h1>
			<p> In <span class="fa fa-book"></span>Bookers,</p>
			<p> you can share and exchange your opinions , inpressions , and emotions</p>
			<p> about varioius books!</p>
			<div class="row">
				<%= link_to "sign in", login_path, class: "btn btn-info col-xs-8 " %>
			</div>
			<div class="row">
				<%= link_to "sign up", signup_path, class: "btn btn-success col-xs-8 " %>
			</div>
		</div>
	</div>
</body>
</html>